.description {
    margin: 24px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    border-radius: 10px;
}

.description__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    width: 100%;
    max-width: 730px;
    text-align: center;
    margin: 160px 0 150px 0;
}
  
.description__btn {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 96px;
    height: 36px;
    border-radius: 10px;
    border: none;
    background-color: #E8E8E8;
    margin: 0 10px 30px 0;
}
  
.description__btn:last-child {
    margin: 0 0 30px 0;
}

@media screen and (max-width: 1150px) {
.description {
    max-width: 728px;
}

.description__title {
    margin: 350px 0 314px 0;
    font-size: 40px;
    line-height: 52px;
    max-width: 680px;
}

}

@media screen and (max-width: 720px) {
.description {
    max-width: 292px;
}

.description__title {
    font-size: 29px;
    line-height: 37px;
    margin: 220px 0 212px 0;
}

.description__btn {
    font-size: 10px;
    line-height: 16px;
    margin: 0 6px 17px 0;
    width: 82px;
    height: 26px;
}

.description__btn:last-child {
    margin: 0 0 17px 0;
} 

}